
.card {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    display: inline-block;
    margin-left: 50px;
    width:320px;
    height:550px;
    align-items: center;
  }